<div class="container">
  <div class="row page-top-margin">
    <div class="cartEmpty" *ngIf="!cartQuantity$">
      <h3 class="text-center">Your Cart is Empty</h3>
      <button mat-raised-button class="bg-orange text-white" routerLink="/">Go Back</button>
    </div>
    <table id="cart" class="table table-hover table-bordered table-condensed" *ngIf="cartQuantity$">
      <thead>
        <tr>
          <th style="width:40%">Product</th>
          <th style="width:10%">Price</th>
          <th style="width:30%">Quantity</th>
          <th style="width:10%" class="text-center">Subtotal</th>
          <!-- <th style="width:10%"></th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let obj of fullObj; let i=index">
          <td data-th="Product">
            <div class="row">
              <div class="col-sm-2 hidden-xs">
                <img [src]="obj.imageArr[0]" [alt]="obj.productName" class="img-responsive width80" />
              </div>
              <div class="col-sm-10">
                <h5 class="nomargin">{{obj.productName}}</h5>
                <p class="desc no-margin">
                  <strong>Source:</strong> {{obj.source_obj.host}}, {{obj.source_obj.city}}
                </p>
                <p class="desc">
                  <strong>Size:</strong> {{obj.selected_size}}
                </p>
              </div>
            </div>
          </td>
          <td data-th="Price">{{obj.source_obj.discounted_price | currency:'USD':true}}</td>
          <td data-th="Quantity">
            <app-cart-button [cartQuantity$]="cartQuantity$" [source_selected]="source_selected" [size_selected]="obj.selected_size"
              [data$.product]="dataProduct$" [prodQ]="obj.quantity"></app-cart-button>
          </td>
          <td data-th="Subtotal" class="text-center">{{subTotal | currency:'INR':true}}</td>

        </tr>
      </tbody>
      <tfoot>
        <!-- <tr class="visible-xs">
          <td class="text-center">
            <strong>Total 1.99</strong>
          </td>
        </tr> -->
        <tr>
          <td colspan="3">
            <!-- <a class="btn btn-warning cursor-pointer">
              <i class="fa fa-angle-left"></i> Continue Shopping</a> -->
            <strong>Grand Total</strong>
          </td>
          <td class="hidden-xs text-center">
            <strong>{{subTotal | currency:'INR':true}}</strong>

          </td>

        </tr>
      </tfoot>
    </table>

    <a class="btn btn-success btn-block cursor-pointer text-white" *ngIf="cartQuantity$">Checkout
      <i class="fa fa-angle-right"></i>
    </a>
  </div>
</div>